html {
  min-height: 100vh !important;
  overscroll-behavior: none !important;
  overflow-y: auto !important;
  overflow-x: hidden;
}

/*video -desktop-top*/
@media (max-width: 767px) {
  .vivify-about-us-area .video-home-page {
    display: none !important;
  }
}
/*swiper0button*/
.swiper-containers .swiper-button-next,
.swiper-containers .swiper-button-prev {
  top: -250px !important;
  color: #fff !important;
}
.swiper-containers .swiper-button-next:after,
.swiper-containers .swiper-button-prev:after {
  font-size: 33px !important;
}

@media (max-width: 767px) {
  .swiper-containers .swiper-button-next,
  .swiper-containers .swiper-button-prev {
    top: -250px !important;
    color: #fff !important;
  }
  .swiper-containers .swiper-button-next:after,
  .swiper-containers .swiper-button-prev:after {
    font-size: 20px !important;
  }
}
.horizontal-item .slider-bg {
  width: 110% !important;
}

@media (min-width: 1600px) {
  .swiper-containers .swiper-slide {
    width: 400px !important;
  }
}
/*swiper0button*/
/*spacing*/
.mb-15 {
  margin-bottom: 15px;
}

.section-padding-0-25 {
  padding-top: 0 !important;
  padding-bottom: 25px !important;
}

/*spacing */
@media (max-width: 991px) {
  /*home-page-section-our-project-text*/
  .our-project-text {
    width: 90% !important;
    font-size: 12px !important;
  }
  /*home-page-section-our-project-text*/
  /*project-page*/
  .main-projects.project-page {
    padding-top: 94px;
    padding-bottom: 0px;
  }
  /*project-page*/
  /*about-us*/
  .about-us {
    padding-top: 100px;
    padding-bottom: 16px;
  }
  /*about-us*/
  /*why-us*/
  /*why-us*/
}
@media (max-width: 991px) and (max-width: 767px) {
  .about-us-content h2 {
    display: none !important;
  }
}
@media (max-width: 991px) and (max-width: 991px) {
  .about-us-content h2 {
    font-size: 23px !important;
  }
}
@media (max-width: 991px) {
  .why-us {
    padding-top: 60px;
    padding-bottom: 10px;
  }
}
/*center text-slide*/
@media (max-width: 767px) {
  .slider-text {
    top: 25% !important;
  }
  /*center text-slide*/
  /*coustmize navbar-logo*/
  /*coustmize navbar-logo*/
}
@media (max-width: 767px) and (max-width: 360px) {
  .slider-text {
    top: 15% !important;
  }
}
@media (max-width: 767px) {
  .nav-brand svg {
    width: 120px;
    margin-left: -30px;
  }
  .classy-navbar-toggler .navbarToggler {
    margin-right: -14px;
  }
  .contact-pages {
    align-items: start !important;
  }
}
/*show and hide slider-content mopile and desktop*/
.slider-contact-mopile {
  position: absolute;
  bottom: 2%;
  left: 2%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 0 2%;
  letter-spacing: 1px;
}
.slider-contact-mopile .icons-holder {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 591px) {
  .slider-contact {
    display: none;
  }
}
@media (min-width: 592px) {
  .slider-contact-mopile {
    display: none;
  }
}
/*show and hide slider-content mopile and desktop*/
/*section top footer*/
.cta-content h2 {
  font-family: "BrutalMilk" !important;
  font-weight: 600;
}

/*section top footer*/
@media (max-width: 991px) {
  .contact-bg {
    display: none !important;
  }
}
/*background-projcets-page*/
.bg-projects-page {
  background: #000 !important;
}

/*background-projcets-page*//*# sourceMappingURL=coustmize.css.map */